<%- include("partials/header") -%>


<div class="logo-wrapper">
  <h1 class="site-logo">
    <a href="/api">
      crypto|<span class="logo-bold">spotter</span>
    </a>
  </h1>
</div>

<div class="table-wrapper">

  <div class="prices-box">

    <table>

      <thead>
        <tr>
          <th>Symbol</th>
          <th>Price</th>
          <th>24H %</th>
          <th>Market Cap</th>
        </tr>
      </thead>

      <tbody>

        <tr>
          <td colspan="5">
            <hr class="price-divider">
          </td>
        </tr>

        <% for (var i = 0; i < 30; i++) { %>
        <tr class="price-row">
          <td>
            <div class="cell-wrapper">
              <img src="<%= priceData[i].image %>">
              <span class="crypto-id"><%= priceData[i].id %></span>
              <span class="crypto-symbol"><%= priceData[i].symbol %></span>
            </div>
          </td>
          <td>
            <div class="cell-wrapper">
              <%= priceData[i].current_price %>
            </div>
          </td>
          <td <% if (parseFloat(priceData[i].price_change_percentage_24h_in_currency) >= 0) { %> class="positive-change" <% } else { %> class="negative-change" <%} %>>
            <div class="cell-wrapper">
              <%= priceData[i].price_change_percentage_24h_in_currency %>
            </div>
          </td>
          <td>
            <div class="cell-wrapper">
              <%= priceData[i].market_cap %>
            </div>

          </td>
        </tr>

        <% if (i < 29) { %>
        <tr>
          <td colspan="5">
            <div class="cell-wrapper">
              <hr class="price-divider">
            </div>

          </td>
        </tr>
        <% } %>

        <% } %>


      </tbody>

    </table>

  </div>
</div>


<%- include("partials/footer") -%>
